html,
body {
    margin: 0;
    padding: 0;
    min-width: 100%;
    min-height: 100%;
}

.topnavText{
  height: 100%;
    padding-left: 50px;
    padding-right: 50px;
}

.topnavBar{
    overflow: hidden;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
  height: 80px;
  display: flex; 

}

.topnavButtons{
  height: 100%;
}

.topnavLogo{
  height: 100%;
  width: 10%;
  background-color: blue;
  flex: 1;
}

.topnav{
    background-color: #333;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 6.5;
}

.topnav a {
    float: left;
    display: flex;
    align-items: center;
    justify-content: center; 
    color: #f2f2f2;
    text-decoration: none;
    font-size: 17px;
    height: 100%;
    text-align:center;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #04AA6D;
    color: white;
}

body {
    display: flex;
    flex-direction: column;
}

.col {
    overflow: hidden;
    width: 100%;
    flex: 1;
}

.site1 {
    background-color: pink;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}

.site2 {
    background-color: turquoise;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    justify-content: center;
    display:flex;
}

.site3 {
    background-image: url("sivu3BG.jpeg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.companyPhoto{
 width: 85%;
 height: 500px;
 background-color: blue;
}

.companyName{
 margin-top: 15%;
 font-size: 75px;
}

.companyText{
  width: 70%;
}

.product-container {
  display: flex;
  justify-content: space-between;
  height: 100%;
  width: 85%;
}

.product{
  width: 400px;
  height: 800px;
  background-color: white;
}

.product:not(:first-child):not(:last-child){

}
