@font-face {
  font-family: fontti;
  src: url('./PlayfairDisplay-VariableFont_wght.ttf'); /* url of the font */
}

html,
body {
    margin: 0;
    padding: 0;
    min-width: 100%;
    min-height: 100%;
}

.topnavText{
	height: 100%;
    padding-left: 50px;
    padding-right: 50px;
}

.topnavBar{
    overflow: hidden;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
  height: 90px;
  display: flex; 

}

.topnavButtons{
  height: 100%;
}
.topnavLogoImage{
  height: 100%;
  width: 100%;
    display: block;     
  max-width: 100%;   
  height: auto;     
}
.topnavLogo{
	    background-color: white;
  height: 100%;
  width: 10%;
  flex: 1;
  
}

.topnav{
    background-color: white;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 7.5;
}

.topnav a {
    float: left;
    display: flex;
    align-items: center;
    justify-content: center; 
    color: #f2f2f2;
    text-decoration: none;
    font-size: 17px;
    height: 100%;
    text-align:center;
	font-family: fontti;
	    color: black;
}

.topnav a:hover {
    background-color: #00406E;
    color: white;
}

.topnav a.active {
    background-color: #00406E;
    color: white;
}

body {
    display: flex;
    flex-direction: column;
	font-family: fontti;
}

.col {
    overflow: hidden;
    width: 100%;
    flex: 1;
}
  .bg-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
.site1 {
    background-color: #00406E;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-bottom: 25px;
}

.site2 {
    padding-top: 30px;
    background-color: white;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    justify-content: center;
    display:flex;
    padding-bottom: 290px;
}

.site3 {
    background-color: #00406E;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    display:flex;
    flex-direction: column;
    padding-bottom: 290px;
}

.companyPhoto{
 width: 85%;
 height: 950px;
}

.companyName{
 margin-top: 4%;
 font-size: 75px;
 color: white;
}

.companyText{
  width: 70%;
   color: white;
}

.product-container {
  display: flex;
  justify-content: space-between;
  height: 100%;
  width: 85%;
}

.product{
  width: 29%;
  height: 825px;
  background-color:  #00406E;
  display: flex;
  justify-content: center;
  align-items: center;
}

.innerProduct{
  width: 90%;
  height:95%;
}
.productNameSmall{
   color: white;
}
.productName{
  font-size: 30px;
   color: white;
}

.productImage{
  width: 99%;
  height: 50%;
  background-color: black;
    display: block;     
  max-width: 100%;   
  height: auto;     
}

.productDesc{
  font-size: 21px;
   color: white;
}

.product:not(:first-child):not(:last-child){

}

.contactBox{

  margin-left: 4%;
  margin-right: 4%;
  height: 100%;

}

.contactText{
  font-size: 30px;
    color: white;
}

.informationBox{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}

.information{
  height: 400px;
  width: 400px;
}

.map{

height:600px;
width: 50%;

background-color: black;

}

.information p{
  margin:0;
  font-size: 20px;
     color: white;
}
