html,
body {
    margin: 0;
    padding: 0;
    min-width: 100%;
    min-height: 100%;
}

.topnav {
    background-color: #333;
    overflow: hidden;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;

}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #04AA6D;
    color: white;
}

body {
    display: flex;
    flex-direction: column;
}

.col {
    overflow: hidden;
    width: 100%;
    flex: 1;
}

.site1 {
    background-image: url("sivu1BG.jpeg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.site2 {
    background-image: url("sivu2BG.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.site3 {
    background-image: url("sivu3BG.jpeg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}